.caja{
    width: 400px;
    height:300px ;
    background-color: blue;
    font-family: Arial;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    /* transition: all 5s ease; */
}

@keyframes rectangulo{
    15%{
        transform: translate(-20px);
        background-color: blue;
    }
    30%{
        transform: translate(-20px);
        background-color: rgb(255, 0, 0);
    }
    40%{
        transform: translate(-20px) rotate(-90deg);
        background-color: aqua;
    }
    65%{
        transform: translate(-20px);
    }
    100%{
        transform: translate(-20px);
    }
}

.caja:hover{
    animation: rectangulo 1s ease;
    animation-iteration-count: infinite;

}